<% provide :title, t("views.layouts.users") %>

<h1><%= t "views.users.index.all_users" %></h1>
<div  class="col-md-6 col-md-offset-3">
  <ul class="list-group">
    <% @users.each do |user| %>
      <li class="list-group-item">
        <%= gravatar_for user %>
        <%= link_to user.name, user %>
      </li>
      <br>
    <% end %>
  </ul>
  <%= will_paginate %>
</div>
<div class="clearfix"></div>
